html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fdfdbb;
    display: flex;
    flex-direction: column;
}

a {
    color: #ff0000;
}

.footer {
    text-align: center;
}

.main {
    flex: 1;
}

div {
    margin: 20px;
}

table{
    border-collapse: collapse;
    border: 2px solid black;
}

th {
    text-align: center;
    background-color: #259e3f;
    color: #000000;
    border: 2px solid black;
   
}

tr {
    text-align: right;
    background-color: #000000;
    color: #ffffff;
}





